<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Derek Express Tut</title>
</head>
<body>
{{>bsnavbar}}

<div class="container">
{{{body}}}
</div>
<script src="/libs/bootstrap/bootstrap.min.js"></script>
</body>
</html>
